<h1>Gossip list:</h1>

  <div class="container">

  <% @gossip.each do |gossip| %>
  <table >
    <tr>
      <th>Content</th>
      <td><%= gossip.content %></td>
      <th>Gossiper</th>
      <td><%= User.find(gossip.user_id).username %></td>
      <td><%= link_to 'Delete', gossip, data: { confirm: "Are you sure?" }, method: :delete %></td>
      <td><%= link_to 'Show', gossips_path(gossip) %></td>
    </tr>
  </table>
  <% end %>
</div>
<div class='container'>
  <a href="<%= '#' %>" class= 'btn btn-warning'>Créer</a>
</div> 